.usergroup
  .user-contents
    %h3.user-contents__username Z13_okada
    %ul
      %li
        %i.fa.fa-cog.icon
      %li
        %i.fa.fa-pencil-square-o.icon
  .group-contents
    .group-content
      %p.group-content__group-name Z13_group1
      %p.group-content__group-comment コメント
    .group-content
      %p.group-content__group-name Z13_group2
      %p.group-content__group-comment コメント
    .group-content
      %p.group-content__group-name Z13_group3
      %p.group-content__group-comment コメント
