.chat-content
  %ul
    %li
      %p.chat-content__chat-name z13_masahiro
    %li
      %p.chat-content__chat-date 2017/07/03 0:10
    %br
    %li
      %p.chat-content__chat-message TEST-COMMENT
.chat-content
  %ul
    %li
      %p.chat-content__chat-name z13_masahiro
    %li
      %p.chat-content__chat-date 2017/07/03 0:10
    %br
    %li
      %p.chat-content__chat-message TEST-COMMENT
.chat-content
  %ul
    %li
      %p.chat-content__chat-name z13_masahiro
    %li
      %p.chat-content__chat-date 2017/07/03 0:10
    %br
    %li
      %p.chat-content__chat-message TEST-COMMENT
.chat-content
  %ul
    %li
      %p.chat-content__chat-name z13_masahiro
    %li
      %p.chat-content__chat-date 2017/07/03 0:10
    %br
    %li
      %p.chat-content__chat-message TEST-COMMENT
.chat-content
  %ul
    %li
      %p.chat-content__chat-name z13_masahiro
    %li
      %p.chat-content__chat-date 2017/07/03 0:10
    %br
    %li
      %p.chat-content__chat-message TEST-COMMENT
.chat-content
  %ul
    %li
      %p.chat-content__chat-name z13_masahiro
    %li
      %p.chat-content__chat-date 2017/07/03 0:10
    %br
    %li
      %p.chat-content__chat-message TEST-COMMENT
