.group-content
  %p.group-content__group-name
    =link_to group.name, group_messages_path(group)
  - if group.messages.last
    %p.group-content__group-comment=group.messages.last.content
  - else
    %p.group-content__group-comment まだコメントはありません
