.usergroup
  .user-contents
    %h3.user-contents__username Z13_okada
    %ul
      %li
        %i.fa.fa-cog.icon
      %li
        %i.fa.fa-pencil-square-o.icon
  .group-contents
    .group-content
      %p.group-content__group-name
      = group.name
      %p.group-content__group-comment コメント

