.group-content{
    padding:20px;
    color: #FFFFFF;
    text-align: left;
    background-color: #2f3e51;
    &__group-name{
      font-size: 15px;
      padding-bottom: 5px;
    }
    a{
      font-size: 15px;
      padding-bottom: 5px;
      color: #FFFFFF;
      text-decoration: none;
    }
    &__group-comment{
      font-size: 11px;
    }
  }
